.text1 {
    font-size: var(--text-1);
    font-weight: 400;
}

.text2 {
    font-size: var(--text-2);
    font-weight: 400;
}

.text3 {
    font-size: var(--text-3);
    font-weight: 400;
}

.textWhite {
    color: var(--color-grey-6);
}

.textBlack {
    color: var(--color-grey-1);
}